@import "variables.scss";

.resize {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 1rem;
	padding-bottom: 2rem;
	touch-action: none;
	div {
		border-radius: 3rem;
		background: $highlight;
		margin: auto;
		width: 2rem;
		height: 4px;
		cursor: row-resize;
	}
}
