@import "variables.scss";

.calendar {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 22rem;
	padding: 2rem;
	border-radius: 2rem 2rem;
	background: $background-light;
	min-height: 20rem;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;

	.header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1rem;
		button {
			border: none;
			width: 2rem;
			background: none;
			font-size: 1.5rem;
			cursor: pointer;
			color: $text-black-light;
			text-align: left;
			padding-top: 0.5rem;
			&:hover {
				color: $text-dark;
			}
			&:nth-child(2) {
				text-align: right;
			}
		}
		h3 {
			font-weight: 400;
			padding: 0 0.5rem;
			span {
				font-size: 0.75rem;
			}
		}
	}

	.dates {
		z-index: 1;
		animation: 0.3s entry linear;
		&.exit-up {
			animation: exit-up 0.3s linear;
		}
		&.exit-down {
			animation: exit-down 0.3s linear;
		}
	}

	.row {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		transition: all 0.4s ease-in-out;
		height: 3.5rem;
		.day {
			font-weight: 500;
			padding: 1rem 0.5rem;
			border-radius: 1.5rem;
			height: 3.5rem;
			text-align: center;
			cursor: pointer;
			-webkit-tap-highlight-color: transparent;

			&.--name {
				color: $text-black-light;
				font-weight: 400;
				font-size: 0.9rem;
				z-index: 5;
				background: $background-light;
				cursor: default;
				border-radius: 0;
			}
			&.--today {
				background: rgba($highlight, 0.3);
			}
			&.--selected {
				background: $highlight;
			}
			&.--month-not {
				font-weight: 400;
				color: $text-black-light;
			}
		}
	}
	&.min-true {
		.row {
			height: 0;
			opacity: 0;
		}
		.row.--active,
		.row.--names {
			height: 3.5rem;
			opacity: 1;
		}
	}
}

@keyframes exit-down {
	0% {
		transform: translateY(0rem);
		opacity: 1;
	}
	80% {
		transform: translateY(3rem);
	}
	100% {
		opacity: 0;
	}
}
@keyframes exit-up {
	0% {
		transform: translateY(0rem);
		opacity: 1;
	}
	80% {
		transform: translateY(-3rem);
	}
	100% {
		opacity: 0;
	}
}
@keyframes entry {
	from {
		opacity: 0;
		transform: scale(0.95);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
