@import "variables.scss";

.calendar {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 22rem;
	padding: 2rem;
	padding-bottom: 1rem;
	border-radius: 2rem 2rem;
	background: $background-light;

	// Touch select disable
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;

	.header {
		display: flex;
		justify-content: space-between;
		height: 3rem;
		button {
			border: none;
			width: 2rem;
			background: none;
			font-size: 1.5rem;
			cursor: pointer;
			color: $text-black-light;
			text-align: left;
			padding-top: 0.5rem;
			&:hover {
				color: $text-dark;
			}
			&:nth-child(2) {
				text-align: right;
			}
		}
		h3 {
			font-weight: 400;
			padding: 0 0.5rem;
			span {
				font-size: 0.75rem;
			}
		}
	}

	.dates {
		z-index: 1;
		min-height: 3.5rem;
	}

	.row {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		transition: height 0.4s ease-in-out;
		font-size: 1rem;
		overflow: hidden;
		height: 3.5rem;

		&.--names {
			z-index: 9;
			height: 2.5rem !important;
			background: $background-light;
			opacity: 1 !important;
		}
		&.--active {
			height: 3.5rem !important;
			opacity: 1 !important;
		}

		.day {
			font-weight: 500;
			padding: 1rem 0.25rem;
			border-radius: 1.5rem;
			text-align: center;
			cursor: pointer;
			-webkit-tap-highlight-color: transparent;
			height: 3.5rem;
			background: rgba(255, 255, 255, 0);
			transition: all 0.2s ease-in-out;
			&.--name {
				color: $text-black-light;
				font-weight: 400;
				font-size: 0.8rem;
				cursor: default;
				border-radius: 0;
				padding: 0.75rem 0.5rem;
				height: 2.5rem;
			}
			&.--today {
				background: rgba($highlight, 0.3);
			}
			&.--selected {
				background: $highlight;
			}
			&.--month-not {
				font-weight: 400;
				color: $text-black-light;
			}
		}
	}
	&.min-true {
		.row:not(.--active) {
			height: 0;
		}
		.dates {
			animation: none;
			&.exit-up {
				animation: none;
			}
			&.exit-down {
				animation: none;
			}
		}
	}
}
