@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 18px;
	font-family: "Noto Sans JP", sans-serif;
	background-color: $background-black;
	color: $text-light;
	#root {
		display: flex;
		flex-direction: column;
		height: 100vh;
	}
}
header {
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	h2 {
		font-weight: 500;
	}
	.menu {
		font-size: 2rem;
	}
}
#agenda {
	background: $background-lighter;
	color: $text-black-dark;
	padding: 2rem;
	margin-top: -5rem;
	border-radius: 2rem 2rem 0 0;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	// flex: 1;
	position: relative;
	z-index: 9;
	height: 60rem;
}
.calendar-container {
	height: 34rem;
	background: $background-light;
	color: $text-dark;
	border-radius: 2rem 2rem 0 0;
	padding-bottom: 5rem;
	text-align: center;
	display: flex;
	justify-content: center;
}
