$background-black: #292c35;
$background-light: #efedd7;
$background-lighter: #ffffff;

$text-light: #ebebeb;
$text-lighter: #fcfcfc;
$text-dark: #3c3c3c;
$text-black-dark: #303546;
$text-black-light: #757575;

$highlight: #cfc18c;
